html
	head
		title Bootstrap Shop
		link(rel="stylesheet",type="text/css",href="/lib/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet",type="text/css",href="/lib/fontawesome/css/font-awesome.css")
	body

		//- dependencies
		script(src="lib/jquery/dist/jquery.js")
		script(src="lib/bootstrap/dist/js/bootstrap.js")
		script(src="lib/q/q.js")
		script(src="lib/jade/jade.js")
		//- tools
		script(src="/js/tools/helpers.js")
		script(src="/js/tools/resource.js")
		script(src="/js/tools/router.js")
		//- app
		//- services
		script(src="/js/services/auth.js")
		script(src="/js/services/cart.js")
		//- controllers
		script(src="/js/controllers/home.js")
		script(src="/js/controllers/admin/products.js")
		script(src="/js/controllers/admin/categories.js")
		script(src="/js/controllers/admin/users.js")
		script(src="/js/init.js")