extends layout

block content
	//- content
	.row
		.col-md-3.col-sm-4.col-xs-12: a(href="/product") item 1
		.col-md-3.col-sm-4.col-xs-12: a(href="/product") item 2
		.col-md-3.col-sm-4.col-xs-12: a(href="/product") item 3
		.col-md-3.col-sm-4.col-xs-12: a(href="/product") item 4
		.col-md-3.col-sm-4.col-xs-12: a(href="/product") item 5
		.col-md-3.col-sm-4.col-xs-12: a(href="/product") item 6
		.col-md-3.col-sm-4.col-xs-12: a(href="/product") item 7
		.col-md-3.col-sm-4.col-xs-12: a(href="/product") item 8